#header {
    width:100%;
    margin:auto;
}
 #left-side-bar{
    width:20%;
    float:left;
                }
#content{
        width:80%;
        float:right;
        }
#footer{
        width:100%;
        margin:auto 0 0 auto;
        }